html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
/* aqui empieza el header */
header{
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #6CC486;
    align-items: center;
}
.name_container{
    width: fit-content;
}
.name_container h1{
    width: fit-content;
    font-family: Helvetica;
}
.menu{
    width: 100%;
    align-items: center;
}
.menu ul{
    
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
}
.menu ul li{
    margin: 0 20px 0 20px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: inherit;
    font-family: Helvetica;
    font-size: 18px;
}
.menu ul li a:hover{
    background-color:#73D18F;
    opacity: .7;
    border-radius: 3px;
}
@media screen and (max-width:426px){
    .menu_container{
        display: none;
    }
}
/*aqui empieza el hero*/
.hero{
    padding: 0 15% 0 15%;
    display: flex;
    align-items: center;
    height: 300px;
}
.hero h2{
    width: 50%;
    font-family: Helvetica;
    font-size: 20px;
}
.hero div img{
    width: 100%;
}
.image_container{
    width: 50%;
}
@media screen and (max-width:426px){
    .image_container{
        display: none;
    }
    .hero h2{
        width: 100%;
    }
}
/* aqui empieza el menu*/
.menu_food{
    display: flex;
    padding: 0 15% 0 15%;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 28.3333%;
    margin: 1%;
    padding: 1%;
    font-family: Helvetica;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.item_image{
    width: 100%;
}
@media screen and (max-width:769px){
    .item{
        width: 40%;
    }
}
@media screen and (max-width:426px){
    .item{
        width: 80%;
    }
}
/*forma de contacto*/
#contactanos{
    padding: 0 17% 0 17%;
}
.contact_form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: 20px;
}
.contact_form h3{
    font-family: Helvetica;
    font-size: 27px;
    width: 100%;
    text-align: center;
}
.email{
    width: 50%;
    height: 25px;
    border-color:transparent;
    border-radius: 5px;
    margin-bottom: 2em;
}
#send_button{
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family: Helvetica;
    margin-bottom: 30px;
}
.contact_form div{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* footer*/
footer{
    background-color: #1c3643;
    color: white;
    font-weight: bold;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-family: Helvetica;
}
footer p{
    margin: 0 0 0 0;
}
@media screen and (max-width:426px){
    footer{
        display: none;
    }
}